fastapi
uvicorn
sqlalchemy
pymysql
pydantic
python-dotenv
requests
# security
passlib
bcrypt == 4.0.1
python-jose
pandas
email-validator
cryptography==43.0.0
openai==1.55.3
httpx==0.28.1
python-multipart==0.0.9
joblib
# scikit-learn
scikit-learn==1.9.0
numpy
pytest